*{
	box-sizing: border-box;
}

a{
	color: inherit;
}

.social a{
	color: rgba(0,0,0,0);
}

body {
	margin: 0; 
	background-color: #263238;
	color: #ECEFF1;
	background-image: url(../img/zesd_bg.jpg);
	background-size: cover;
	width: 100vw;
}

body,
button,
input {
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Fjalla One', sans-serif;
	margin: 0;
}

h1 {
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 15px;
}

h3 {
	margin-bottom: 15px;
}

.container{
	max-width: 1000px;
	margin: auto;
	padding: 0px 20px 60px;
}

header{
	background: linear-gradient(to top, rgba(0,0,0,0), #263238); 
	padding: 40px 20px 0;
}

.logo{
	margin-bottom: 10px;
}

.logo img{
	width: 75%; 
	max-width: 600px;
}

.social{
	margin-top: 10px;
	margin-bottom: 20px;
}

.social div{
	padding: 5px;
	max-width: 150px;
	line-height: 2em;
	display: inline-block;
	font-size: 1em;
	line-height: 1em;
	margin-bottom: 3px;
}

.social div{
	width: 23%;
	color: white;
	background-color: black;
	border: none;
	cursor: pointer;
}

.social div span{
	font-size: .5em;
}

header,
main{
	text-align: center;   
}

main{
	margin-top: 40px; 
}

.release{
	margin-bottom: 5px;   
}

.nature{
	margin-bottom: 40px;
}

.nature,
.nurture{  
	
}

.nature img,
.nurture img{
	width: 80%;
	max-width: 250px;
}

table{
	text-align: left;
	width: 100%;
	color: #777; 
}

table td{
	padding: 5px 0;   
}

table .links{
	text-align: center;
	height: 25px;
	vertical-align: top;
	color: #ddd;
	font-size: 1em;
}

table .fa-download{
	font-size: 1.2em; 
}

.email-div{
	max-width: 400px; 
	margin: auto;
}

.email-div span{
	font-size: 0.8em;
}

.email-div input{
	
}

.email-div .email-field{
	width: 55%;
	padding: 12px;
}

.email-div .submit-button{
	width: 23%;
	height: 38px;
	border: none;
	cursor: pointer;
}

.clear{
	display: inline-block;
}

#mc-embedded-subscribe{
	padding: 12px;
	background-color: #ddd;
	border: none;
	transition: background-color .2s;
}

#mc-embedded-subscribe:hover{
	background-color: #aaa;   
}

.released{
	color: white; 
	transition: color .2s;
	cursor: pointer;  
}

.song-button{
	padding: 0 2px;
	transition: color .2s;
}

.song-button:hover{
	color: #bbb;
}

.hidden{
	display: none;   
}

.social .facebook{
	background-color: #3b5998;
	transition: background-color .2s;
}
.social .facebook:hover{
	background-color: #22407F;
}

.social .vkontakte {
	background-color: #45668e;
	display: none;
}

.social .twitter{
	background-color: #4099FF;
	transition: background-color .2s;
}
.social .twitter:hover{
	background-color: #2780E6;
}

.social .youtube{
	background-color: #cc181e;
	transition: background-color .2s;
}
.social .youtube:hover{
	background-color: #B30005;
}

.social .instagram{
	background-color: #517fa4;
	transition: background-color .2s;
}
.social .instagram:hover{
	background-color: #38668B; 
}

.clearfix:before,
.clearfix:after {
content: "";
display: table;
}

.clearfix:after {
clear: both;
}

.clearfix {
zoom: 1; /* ie 6/7 */
}

footer{
	background-color: #263238; 
	text-align: center;
	padding: 40px 0;
	font-size: .75em;
}

.hide{
	display: none;   
}

.body-overlay{
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.75);
	position: fixed;
	top: 0;
	display: none;
}

.video-overlay,
.download-overlay{
	width: 90%;
	max-width: 580px;
	background-color: rgba(0,0,0,0.25);
	margin: auto;
	margin-top: 15vh;
	padding: 10px;
	text-align: center;
}

.video-overlay button{
	padding: 5px 10px; 
	margin: 10px 0;
	background-color: #444;
	color: white;
	border: none;
	font-size: .7em;
	text-transform: uppercase;
	cursor: pointer;
}

.video-overlay button:hover{
	background-color: #333;
} 

iframe{
	width: 100%;  
	max-width: 560px;
	display: block;
	margin: auto;
}

audio,
.player{
	position: fixed;
	bottom:0;
	width: 100vw;
	background-color: rgba(0,0,0,0.7);
	text-align: center;
}

.current-track{
	position: fixed;
	bottom: 20px;
	margin: 10px auto;
	background-color: rgba(50,50,50,.7);
	display: block;
	width: 100vw;
	text-align: center;
	padding: 5px 0 0;
	font-size: .75em;
}

.audio-div{
	visibility: hidden;
	width: 100vw;
}

.download-button{
	background-color: rgba(0,0,0,0);
	color: #ddd;
	border: none;
	font-size: .9em;
	transition: color .2s;
	cursor: pointer;
	display:block;
	text-decoration:none;
}

.download-button:hover{
	color: white;   
}

.download-button span{
	font-size: .7em;
}

.download-overlay{
	margin: 15px auto;   
}

.download-overlay p{
	font-size: .8em;
	line-height: 1.5em;
}

.social-download{
	margin: 10px;
	padding: 5px 20px;
	background-color: rgba(0,0,0,0);
	color: white;
	border: 1px white solid;
	cursor: pointer;
	transition: all .2s;
	font-size: .8em;
	text-decoration: none;
	display: none;
}

.social-download:hover{
	background-color: white;
	color: black;
}

.twitter-share-button{
	display: inline-block;
	margin-left: 10px;
}

.youtube-playlist{
	margin-top: 50px;
	font-size: .8em;
	line-height: 2em;
	text-decoration: none;
	color: #ddd;
	transition: color .2s;
}

.youtube-playlist:hover{
	color: white;   
}


#mc_embed_signup_scroll .button {
	cursor: pointer;
	background-color: #ECEFF1;
	font-size: 14px;
}

#mc_embed_signup_scroll .email-field {
	border: none;
	font-size: 14px;
}

.overall-container {
	background-color: rgba(38,50,56, .5);
	min-height: 100%;
}

.small {
	font-size: 10px;
}

.icon {
	width: 20px;
}

.twitter .icon {
	width: 28px;
	margin: -4px 0;
}

.youtube .icon {
	margin-top: 6px;
}

img.spotify {
	width: 50px;
}

img.apple-music {
	height: 50px;
	width: 125px;
}

img.google-play {
	width: 175px;
	margin-bottom: -9px;
}

#released-on {
	display: none;
}




@media screen and (min-width: 600px){	
	table .links{
		font-size: .8em;   
	}
}

@media screen and (min-width: 700px){
	.logo img{
		width: 33%;   
	}
	
	.social div span{
		font-size: .75em;   
	}
}


@media screen and (min-width: 800px){

}


@media screen and (min-width: 900px){

}